* {
    margin: 0;
    padding: 0;
}

.geral {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo {
    background: #000;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 0.5rem 0;
}

.conteudo {
    width: 100%;
    background: #000;

}

.preCards {
    width: 80%;
    display: grid;
    grid-gap: 0px 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
}

.card {
    margin: 0.5rem;
    height: 350px;
    overflow: hidden;
    padding-bottom: 2rem;
    cursor: pointer;
    color: #fff;
}

.containerImg {
    width: 100%;
    height: 50%;
    background: #4534;
    overflow: hidden;


}
.containerImg:hover {
    opacity:0.5;
}

.img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: 0px 50%;

}

.dados {
    height: 50%;
    background: linear-gradient(to bottom, #ff6347, rgb(138, 33, 33));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}

.modelo, .preco, .cidade{
    font-size: 0.85rem;
}

.marca {
    font-size: 1rem;
    font-weight: bold;
}

.preButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.button {
    background: rgb(251, 106, 106);
    color: #fff;
    padding: 0.5rem 2rem;
    border: 2px solid rgba(214, 34, 34, 0.87);
    font-weight: 400;
}

.button:hover {
    background: rgb(189, 7, 7);
    box-shadow: 0 0 10px rgb(165, 39, 17), 0 0 20px rgb(165, 39, 17), 0 0 30px rgb(165, 39, 17);
}

.paginacaoButtons {
    width: 100%;
    line-height: 50px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    margin-bottom: 2rem;
    padding-left:0;
}

.paginacaoButtons a {
    padding: 10px 15px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid rgb(251, 106, 106);
    cursor: pointer;
}
.paginacaoButtons a:hover {
    color: #fff;
    background: rgb(189, 7, 7);
    box-shadow: 0 0 10px rgb(165, 39, 17), 0 0 20px rgb(165, 39, 17), 0 0 30px rgb(165, 39, 17);
}

.paginacaoActive a {
    background: rgb(251, 106, 106);
}
.previousNext {
    text-decoration: none;
    background: rgb(251, 106, 106);
    color: #fff;
}

.barraNavega {
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 1rem;

}

@media screen and (min-width: 1200px) {
    .conteudo {
        width: 100%;
       
    }
    .preCards {
        padding: 3rem 0;
    }
    
    .card {
        margin: 1rem;
    }
}