* {
    margin: 0;
    padding: 0;
}

.module {
    background: linear-gradient(to bottom, #ff6347, rgb(138, 33, 33));
    color: #000;
}

.titulo {
    text-align: center;
    padding: 0.75rem 0;
}

.cBotoes {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
}

.botao {
    padding: 0.5rem 1rem;
    border: none;
    background: #000;
    border-radius: 10px;
    color:#fff;
}

.inputConsultar {
    width: 90%;
    border: rgb(13, 46, 78) 0.5px solid;
    padding-left: 15px;
    height: 40px;
}

.botao:hover {
    background: rgb(189, 7, 7);
    box-shadow: 0 0 10px rgb(165, 39, 17), 0 0 20px rgb(165, 39, 17), 0 0 30px rgb(165, 39, 17);
}

.faSearch {
    width:10%;
    background: #393E46;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.busqueda {
    display: flex;
    height: 30px;
    width: 70%;
}


