* {
    margin: 0;
    padding: 0;
}

.geral {
    display: flex;
    flex-direction: column;
    height: 250px;
    background:  rgb(1, 10, 19);
    justify-content: center;
    align-items: center;
    color:#fff;
}

.textFooter {
    line-height: 0.25rem;
}

.logoToti {
    margin-bottom: 1rem;
}