body{
    font-size: 95.5%;
}

.preContainer {
    background: #121111;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: tomato;
    padding: 5rem 0;
    margin: 0 auto;
    width: 80%;
}

.headerCadastro{
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 15px #000;
}

.logo{
    width: 100%;
 

}

.titulo{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerForm{
    width: 100%;
    display: grid;
    grid-gap: 0 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

form-control:disabled{
    background-color: aquamarine;
}

hr{
    border: dashed 1px #ffffff;
    width: 100%;
    margin: 0.5rem 0 0.5rem;
}
.containerButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.buttonCancelar, .buttonRegistrar, .buttonDeletar{
    margin: 20px 0 0;
    padding: 0.6rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-style: none;
    font-weight: 600;
}
.buttonCancelar, .buttonDeletar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    color: #ffffff;
    border:none;
    transition: 200ms;
}
.buttonCancelar:hover, .buttonDeletar:hover{
    background-color: #ffffff;
    color: tomato;
}
.buttonRegistrar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: tomato;
    transition: 200ms;
}
.buttonRegistrar:hover{
    background-color: tomato;
    color: #ffffff;
}

.buttonDeletar{
    position: absolute;
}

i{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.body {
    width: 100%;
}

@media screen and (min-width:900px){
    /* .containerForm{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    } */

    .conteudo{
        width: 100%;
    }

    .headerCadastro{
        flex-direction: row;
        margin: 4.5rem 0;
    }

    .titulo{
        font-size: 2rem;
        margin-left: 1rem;
        padding: 0 1rem;
        width: 35%;
    }
    /*.headerCadastro{
       width:100%;
    }*/

    .logo{
        width: 65%;
        /* height: 105px; */
        /* border-radius: 50%; */
    }
   
    .container{
        width: 80%;
        /* height: 100vh; */
        padding: 2rem 0;
    }

    .containerButtons{
        justify-content:space-between;
        flex-direction: row;
    }
    .buttonCancelar, .buttonRegistrar, .buttonDeletar{
        width: 27%;
        margin-top: 0;
    }

    .buttonDeletar{
        top: 92vh;
    }
}